body {
    font-family: 'Times New Roman', Times, serif;
    font-size: $m-size;
    background: white;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
    
}
